/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.angpop {
    overflow: hidden !important;
  }
  .angpop form {
    width: 100%;
    margin: 0px;
  }
  .pop600px {
    max-width: 600px !important;
  }
  .headerdetailcontainer {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
  }
  .alert-box .mat-mini-fab .mat-button-wrapper {
    padding: 0 !important;
  }

  .mat-snack-bar-container {
    background: transparent !important;
    box-shadow: none !important;
  }
  .warning{
    color:orange;
  }